.div-logo {
  margin: 10vh auto 7vh;
  max-width: 320px;

  &.registration {
    margin-top: 5vh;
  }
}

.div-after-logo {
  margin: 0 30px 50px;

  .list {
    max-width: 480px;
    margin: auto;
    border-radius: 8px;

    .button {
      margin: auto;

      .icon {
        margin: 0;
      }
    }
  }

  p {
    max-width: 480px;
    margin: auto auto 16px auto;
  }

  .button {
    max-width: 256px;
    margin: 16px auto;
  }
}

.text-split {
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}

.powered-by {
  height: 20px;
  a {
    vertical-align: super;
    line-height: 20px;
    margin-right: 8px;
    font-size: 18px;
  }
  img {
    height: 20px;
  }
}

// card styles
.switcher-card-item {
  --min-height: 64px;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
}
.practera-card {
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
}
.experience-card {
  margin: 12px 0;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
  .icon {
    font-size: 24px !important;
    color: var(--ion-color-medium);
  }
  .image-container {
    position: relative;
    padding-bottom: 56.2%;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
